* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.page {
  background: linear-gradient(90deg, #c68080 0%, #a3a7cb 100%);
  height: 100vh;
}

.container {
  max-width: 1105px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page__field {
  display: flex;
  justify-content: space-between;
}

.user__game {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.computer__game {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
  text-align: end;
  align-items: center;
}

.computer-button {
  position: absolute;
  top: 0;
  right: 0;
}

.user-button {
  position: absolute;
  top: 0;
  left: 0;
}

.score {
  font-size: 96px;
  font-weight: 700;
}

.user__score {
  color: #172d65;
}

.computer__score {
  grid-column: 3;
  color: #a12626;
}

.time {
  height: 28px;
  margin-top: 83px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-shadow: 1px 0 1px #172d65, 0 1px 1px #172d65, -1px 0 1px #172d65,
    0 -1px 1px #172d65;
}

.user__name {
  margin-top: 83px;
  color: white;
  font-size: 24px;
  line-height: 28px;
  text-shadow: 1px 0 1px #172d65, 0 1px 1px #172d65, -1px 0 1px #172d65,
    0 -1px 1px #172d65;
}

.computer__name {
  margin-top: 83px;
  text-align: end;
  color: white;
  font-size: 24px;
  line-height: 28px;
  text-shadow: 1px 0 1px #a12626, 0 1px 1px #a12626, -1px 0 1px #a12626,
    0 -1px 1px #a12626;
}

.game-button {
  border: none;
  background: none;
  padding: 0;
  /* border-radius: 60px; */
}

.game-button:focus {
}

.button-place {
  width: 168px;
  position: relative;
  padding-bottom: 41px;
}

.button-place--no_padding {
  padding-bottom: 0;
}
.user__svg {
  cursor: pointer;
  border-radius: 50%;
  border-color: #172d65;
  transition: all 0.5s ease;
  position: relative;
  box-shadow: 0 1px 5px #172d65;
}

.user__svg-hover:not(.user_svg--activ) {
  border: 4px solid transparent;
  box-shadow: none;

  transition: all 0.5s ease;
}

.user__circle {
  transition: all 2s ease;
}

.cir--activ {
  border: 9px solid transparent;
  stroke-width: 7px;
}

.hide {
  display: none;
}
.user-arena {
  position: relative;
}

.user-arena circle {
}

.user-arena--hover {
  fill: #f03939;
}

.computer-arena {
  position: relative;
}

.computer__svg {
  border-radius: 50%;
  border-color: #a22626;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 0 1px 5px #a22626;
}

.computer__circle {
  position: relative;
  transition: all 2s ease;
}

.animation {
  animation: go-reduce 1.5s 1 reverse;
  box-shadow: none;
}

.arena--win {
  fill: #61c847;
}

.arena--loss {
  fill: #f03939;
}

@keyframes go-reduce {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.animation--win:not(.user_svg--activ) {
  animation: go-zoom 1.5s 1 reverse;
  box-shadow: none;
}

@keyframes go-zoom {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.computer__name-mobile {
  display: none;
}

/*//////////////////////// POPUP//////////////////////////// */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.7s all;
}

.popup--active {
  opacity: 1;
  pointer-events: all;
  transition: 0.7s all;
}

.popup__block {
  width: 55%;
  height: 55%;
  left: 365px;
  top: 136px;
  background: #efbfd6;
  box-shadow: 0px 4px 8px #172d65;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.popup__message {
  padding-top: 5%;

  text-shadow: 1px 0 1px #172d65, 0 1px 1px #172d65, -1px 0 1px #172d65,
    0 -1px 1px #172d65;
  font-size: 35px;
  line-height: 41px;
  color: white;
}

.popup__button {
  margin-bottom: 5%;
  width: 275px;
  height: 71px;
  background: none;

  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #172d65;
  transition: all 0.3s ease;
  border: 2px solid #172d65;
  box-sizing: border-box;
  cursor: pointer;
}

.popup__button:hover {
  color: #a12626;
  border: 3px solid #a12626;
  box-sizing: border-box;
}
/*//////////////////////// MEDIA//////////////////////////// */

@media screen and (max-width: 900px) {
  .button-place {
    width: 140px;
  }
}

@media screen and (max-width: 750px) {
  .button-place {
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    padding-top: 40px;
    background: linear-gradient(180deg, #c68080 0%, #a3a7cb 100%);
  }

  .page__field {
    display: block;
    position: relative;
  }

  .user__game {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .computer__game {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .user__name {
    margin-top: 0;
  }

  .computer__name {
    margin-top: 0;
  }

  .game-button {
    width: 110px;
    height: 115px;
  }

  .game-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .button-place {
    /* box-sizing: unset; */
    padding: 0;
    width: 110px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user__block {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .computer__block {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .computer-arena__svg {
    transform: rotate(90deg);
  }

  .user-arena {
    width: 110px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .computer-arena {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 115px;
  }
  .user-arena__svg {
    transform: rotate(90deg);
  }

  .time {
    margin: 0;
  }
  .computer__name {
    display: none;
  }

  .computer__name-mobile {
    display: block;
    text-align: start;
    color: white;
    font-size: 24px;
    line-height: 28px;
    text-shadow: 1px 0 1px #a12626, 0 1px 1px #a12626, -1px 0 1px #a12626,
      0 -1px 1px #a12626;
  }

  .score {
    font-size: 40px;
  }

  .user__score {
    position: absolute;
    top: 0;
    right: 15px;
  }

  .computer__score {
    position: absolute;
    bottom: 0;
    right: 15px;
  }

  .popup__button {
    width: 160px;
    height: 40px;
    font-size: 15px;
  }

  .popup__message {
    font-size: 30px;
  }
}

@media screen and (max-width: 350px) {
  .page {
    padding-top: 20px;
  }
  .game-button {
    height: 90px;
    width: 90px;
  }

  .button-place {
    height: 90px;
    width: 90px;
  }

  .button-place svg {
    height: 80px;
    width: 80px;
  }

  .game-button svg {
  }

  .user__game {
    display: flex;
  }
  .computer__game {
    display: flex;
  }

  .computer-arena {
    height: 90px;
    width: 90px;
  }

  .user-arena {
    height: 90px;
    width: 90px;
  }
}

@media screen and (max-width: 380px) and (max-height: 655px) {
  .page {
    padding-top: 20px;
  }
  .game-button {
    height: 90px;
    width: 90px;
  }

  .button-place {
    height: 90px;
    width: 90px;
  }

  .button-place svg {
    height: 80px;
    width: 80px;
  }

  .game-button svg {
  }

  .user__game {
    display: flex;
  }
  .computer__game {
    display: flex;
  }

  .computer-arena {
    height: 90px;
    width: 90px;
  }

  .user-arena {
    height: 90px;
    width: 90px;
  }
}
